.page_login {
    display: flex;

    .form_login {
        width: 40%;
        padding: 0px 45px 0px 45px;

        p {
            margin-bottom: 0px;
        }

        .text_head_form {
            line-height: 20px;
            margin-bottom: 20px;

            p {
                font-size: 25px;
                font-weight: 500;
                color: #6d6d6ddd;

                .name_schools {
                    color: #279af1;
                    font-size: 25px;
                    font-weight: 500;
                }
            }

            span {
                font-size: 14px;
            }
        }
    }

    .slider {
        width: 60%;

        .item {
            img {
                width: 100%;
            }
        }
    }
}
