body {
    height: 595px;
    background: #f7f7f7;
}

.torong {
    width: 700px;
    margin-top: 66px;

    height: 480px;

}

#main {
    margin-top: 20px;


    width: 620px;
}

#main .img1 {
    position: absolute;
    top: 104px;
    left: 542px;
    z-index: 10;
    width: 10%;
}

#main .img2 {
    position: absolute;
    top: 268px;
    left: 35%;
    z-index: 10;
}

#main .img3 {
    position: absolute;
    top: 335px;
    left: 30.5%;
    z-index: 10;
    width: 19%;
}

#main .img4 {
    position: absolute;
    top: 356px;
    left: 32%;
    z-index: 10;
}

#main .hotline {
    position: absolute;
    top: 515px;
    left: 28%;
    z-index: 10;
    color: #ffffff;
}

#main .main1 {

    background: url('../image/anhnen.jpg');
    border-radius: 25px 0 0 25px;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
}

#main .main1 .main11 {
    border-radius: 25px 0 0 25px;
    margin-left: -15px;
    width: 109.5%;
    height: 100%;
    background: #5b5f62;
    opacity: 0.9;
    z-index: 2;
    filter: alpha(opacity=50);
}

#main .main2 {
    border-radius: 0 25px 25px 0;

    background: #ffffff;
    -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
}

.main2 p {
    margin-top: 12%;
    margin-left: 15%;
}

.main2 .inp {
    border: 1px solid #686464;
    border-radius: 25px;
    width: 15em;
    height: 3em;
    margin-top: 6%;
    margin-left: 15%;
    padding-left: 20px;
}

.main2 .inp .input {
    margin-top: 8px;
    border: none;
}

.main2 .inp .input:focus {

    outline: 0;
}

.main2 .submit {
    border: none;
    background: #ffd00b;
    color: #ffffff;
    border-radius: 25px;
    width: 140px;
    height: 45px;
    margin-top: 8%;
    margin-left: 15%;

}

.main2 .submit:focus {

    outline: 0;
}

.main2 .logi {
    position: absolute;
    top: 55%;
    left: 44%;
}

.main2 .connect {
    margin-top: 14%;
    margin-left: 15%;
}

.main2 .connect ul {
    display: flex;
    margin-top: 20px;
    margin-left: -48px;
}

.main2 .connect ul li {
    list-style: none;

}

.main2 .forgot {
    margin-top: 5%;
    margin-left: 46%
}

.submit {
    margin-top: 26px;
}

#footer {
    padding-top: 8px;
    border-radius: 25px;
    margin-left: 1090px;
    margin-top: 50px;
    width: 240px;
    height: 40px;
    background: #ffffff;
    z-index: 3;
    -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
}

@media screen and (min-height: 750px) {
    body {
        height: 800px;
        background: #f7f7f7;
    }

    .torong {
        width: 700px;
        margin-top: auto;

        height: 800px;

    }

    #main .img1 {
        position: absolute;
        top: 12%;
        left: 40%;
        z-index: 10;
    }

    #main .img2 {
        position: absolute;
        top: 35%;
        left: 39%;
        z-index: 10;
    }

    #main .img3 {
        position: absolute;
        top: 43%;
        left: 34%;
        width: 300px;
        z-index: 10;
    }

    #main .img4 {
        position: absolute;
        top: 48%;
        left: 37%;
        z-index: 10;
    }

    #main .hotline {
        position: absolute;
        top: 72%;
        left: 34.5%;
        z-index: 10;
        color: #ffffff;
    }

    .main2 p {
        margin-top: 22%;

    }

    .main2 .inp {
        margin-top: 10%;

    }

    .main2 .connect {
        margin-top: 81%;
        margin-left: 15%;
    }
}

#login_form_admin .error {
    font-size: 12px;
    color: red;
    margin: 0;
    margin-top: 12px;
}
